---
layout: page
---

{% for post in site.posts limit:5 %}
<h2 class="post-title">
  <a href="{{ post.url | relative_url }}"> {{ post.title }} </a>
</h2>

<div class="post-meta">
  <div class="post-time">
    <i class="fa fa-calendar-alt"></i>
    <time datetime='{{ post.date | date: "%Y-%m-%d" }}'
      >{{ post.date | date_to_string }}</time
    >
  </div>
</div>

<div class="post-excerpt">
  <p>{{ post.excerpt }}</p>
  <p><a href="{{ post.url | relative_url }}">read more...</a></p>
</div>
{% endfor %}

<div class="post-footer">
  <div class="column-full">
    <h3><a href="{{ 'archive' | relative_url }}">Blog archive</a></h3>
  </div>
</div>
